.stay-booker__input {
    border: 2px solid $secondary-color;
}

.stay-booker__input {
    color: #868585;
}

.sb__date-range-picker {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
}